.movies-catalog {
  .search {
    height: 40px;
    width: 100%;
    background: #fff;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 15px;
    padding-left: 40px;
    padding-top: 2px;
    margin-bottom: 22px;
    background: url('./loupe.svg') 12px 12px no-repeat;
  }
}
