@font-face {
  font-family: 'Tahoma';
  src: url('./fonts/tahoma.woff2') format('woff2'),
    url('./fonts/tahoma.woff') format('woff'),
    url('./fonts/tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma';
  src: url('./fonts/tahoma-bold.woff2') format('woff2'),
    url('./fonts/tahoma-bold.woff') format('woff'),
    url('./fonts/tahoma-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 24px;
  line-height: 34px;
  margin-top: 22px;
  margin-bottom: 18px;
  font-weight: bold;
  text-align: left;
}

#root {
  display: flex;
  justify-content: center;
}
